<!DOCTYPE html>
<html lang="en" ng-app="CSSCustomFilterSandbox">
  <head>
    <title>surjikal | css custom filter sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta charset="utf-8"/>
    <meta name="author" content="Nicolas Porter"/>
    <meta name="description" content="A CSS custom filter sandbox."/>
    <link href="assets/css/default.css" rel="stylesheet"/>
    <script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js"></script>
    <script src="assets/js/libs/angular.js"></script>
    <script src="assets/js/libs/angular.ace.js"></script>
    <script src="assets/js/libs/lodash.js"></script>
    <script src="assets/js/libs/zepto.js"></script>
    <script src="assets/js/app/app.js"></script>
    <script src="assets/js/app/controllers/main-controller.js"></script>
    <script src="assets/js/app/directives/shader-directive.js"></script>
    <script>
      // FIXME
      $(function() {
        //- var img = new Image();
        //- img.src = 'http://lorempixel.com/output/city-q-c-640-480-4.jpg';
        //- var shaderContainer = document.getElementById('shader-container');
        //- var shader          = shaderContainer.getElementsByClassName('shader')[0];
        //- shader.appendChild(img);
        
        // I have to something like this otherwise the image doesn't load properly
        setTimeout(function() {
          $('.loading').removeClass('loading');
        }, 1000);
      })
      
      
    </script>
  </head>
  <body ng-controller="MainController" class="loading">
    <header>
      <button id="edit-vertex-shader-button" type="button" ng-click="showVertexEditor()" ng-class="{selected:vertexSelected}">Vertex</button>
      <button id="edit-fragment-shader-button" type="button" ng-click="showFragmentEditor()" ng-class="{selected:fragmentSelected}">Fragment</button>
    </header>
    
    <a href="https://github.com/surjikal/css-custom-filter-sandbox"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
    
    <div id="message-panel" ng-show="!customFiltersSupported">
      <div class="message">
        <h1>Your browser does not support custom css filters!</h1>
        <p>Custom Filters are available in both <em>Chrome</em> and <em>Canary</em>.</p>
        <p>To enable them, head over to <em>about:flags</em> and search for <em>CSS Shaders</em>.</p>
        <p>Don't forget to restart your browser!</p>
      </div>
    </div>
    <div id="shader-editor-panel">
      <div id="shader-editor" ng-model="shaderModel" ace="glsl" scope-instance="editor"></div>
    </div>
    <div id="shader-output">
      <shader shader-vertex="vertexShader" shader-fragment="fragmentShader" shader-params="uniformControls" shader-vertex-mesh="16 32">
        <h1>Custom CSS Filter!</h1><img src="https://secure.gravatar.com/avatar/b092966bd7de2d66f29077992ea85170?s=300"/>
      </shader>
    </div>
    <div id="uniform-controls">
      <div ng-repeat="uniform in uniforms" ng-switch="uniform.type" class="uniform-control">
        <header>
          <div class="uniform-type">{{ uniform.type }}</div>
          <div class="uniform-name">{{ uniform.name }}</div>
        </header>
        <div uniform="uniform" ng-switch-when="vec2" class="vector-uniform-control">
                <ul>
                  <li ng-repeat="index in valueRange">
                    <label>
                      <div class="uniform-value-index">{{ index }}</div>
                      <input type="range" ng-model="uniform.value[index]" min="0.0" max="1.0" step="0.01"/>
                      <div class="uniform-value">{{ uniform.value[index] | number:2 }}</div>
                    </label>
                  </li>
                </ul>
        </div>
        <div uniform="uniform" ng-switch-when="vec3" class="vector-uniform-control">
                <ul>
                  <li ng-repeat="index in valueRange">
                    <label>
                      <div class="uniform-value-index">{{ index }}</div>
                      <input type="range" ng-model="uniform.value[index]" min="0.0" max="1.0" step="0.01"/>
                      <div class="uniform-value">{{ uniform.value[index] | number:2 }}</div>
                    </label>
                  </li>
                </ul>
        </div>
        <div uniform="uniform" ng-switch-when="vec4" class="vector-uniform-control">
                <ul>
                  <li ng-repeat="index in valueRange">
                    <label>
                      <div class="uniform-value-index">{{ index }}</div>
                      <input type="range" ng-model="uniform.value[index]" min="0.0" max="1.0" step="0.01"/>
                      <div class="uniform-value">{{ uniform.value[index] | number:2 }}</div>
                    </label>
                  </li>
                </ul>
        </div>
        <div ng-switch-when="mat4" class="matrix-uniform-control"></div>
        <div uniform="uniform" ng-switch-when="float" class="float-uniform-control">
          <label>
            <input type="range" ng-model="uniform.value" min="0.0" max="1.0" step="0.01"/>
            <div class="uniform-value">{{ uniform.value | number:2 }}</div>
          </label>
        </div>
        <div ng-switch-default="ng-switch-default" class="error-unhandled-uniform-type">unhandled uniform type <span class="unhandled-uniform-type">{{ uniform.type }}</span> :(</div>
      </div>
    </div>
  </body>
</html>
