
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);


$background-color: hsl(200, 23%, 98%);

@function fake-rgba($color, $alpha) {
    @return _fake-rgba($background-color, $color, $alpha);
}

$font-color-highlight: hsl(205,100%,40%);
$font-color-normal:    #565a5c;
$font-color-dark:      fake-rgba($font-color-normal, 0.5);
$font-color-darker:    fake-rgba($font-color-dark,   0.3);

$anchor-color-normal: darken($font-color-highlight, 20%);
$anchor-color-hover:  $font-color-highlight;

$anchor-border-normal: 1px dotted fake-rgba($anchor-color-normal, 0.2);
$anchor-border-hover:  1px dotted fake-rgba($anchor-color-hover,  0.4);


html {
    font-size: 10px;
}

body {
    @include font-size(13);
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;

    background: $background-color;
    color: $font-color-normal;
}

a, a:after {
    border-bottom: $anchor-border-normal;
    color: $anchor-color-normal;

    &:hover {
        border-bottom: $anchor-border-hover;
        color: $anchor-color-hover;
    }
}

header  ul > li,
section ul > li {
    // Fixes bad indentation on content wrap
    padding-left: 10px;
    text-indent: -13px; // Why 13px? Not sure, but it works!
    @include transition(color 0.5s);

    &:before {
        @include transition(color 0.5s);
        content: 'â¯';
        color: $font-color-dark;
        @include font-size(9);
        padding-right: 6px;
        padding-left: 2px;
        position: relative;
        top: -1px;
    }
}

ul.list-unstyled > li {
    padding-left: 0;
    text-indent: 0;

   &:before {
        content: '';
        position: static;
    }
}

h1 {
    @include font-size(18);
    font-weight: 400;
}

h2 {
    @include font-size(15);
    font-weight: 300;
}

textarea {
    border: 1px solid $anchor-color-normal;
    width: 100%;
    height: 300px;
    font-family: 'Menlo', monospace;
}

img {
    width: 300px;
}

.shader {
    overflow: hidden;

    img {
        border: 1px solid orange;

    }
}


.loading img {
    @include transform(translateZ(0));
}
