
@import url(//fonts.googleapis.com/css?family=Lato:300,400,500,600,700);


html {
    font-size: 16px;
}

body, button {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #333;
}

.shader {
    overflow: hidden;

    img {
        border: 1px solid orange;
        width: 100%;
        max-width: 300px;
    }
}

.loading img {
    @include transform(translateZ(0));
}


body > header {
    background: #555;
    border-bottom: 2px solid #444;
}


#message-panel {
    background-color: rgba(black, 0.5);
    color: #eee;
    text-align: center;
    z-index: 99;

    .message {
        @include border-radius(5px);
        @include box-shadow(0px 5px 50px rgba(black, 0.2));
        background: #999;
        line-height: 1.5;

        h1 {
            font-size: 20px;
            margin-bottom: 0.8em;
        }

        p {
            font-size: 15px;
            margin: 0 auto;
            max-width: 95%;
        }

        em {
            font-weight: 600;
            color: #fff;
        }
    }
}


#shader-editor-panel {
    border-bottom: 4px solid #ddd;
}

#shader-editor {
    @include transform(translateZ(0));
    font-size: 11px;
}

#shader-output {
    @include transform(translateZ(0));
    background: #eee;
}

#uniform-controls {
    @include user-select(none);
    @include transform(translateZ(0));
    background: #444;
    font-size: 0.7rem;
    color: #ddd;
    overflow-y: scroll;

    .uniform-control {
        padding: 0.9rem 0.8rem;
        border-bottom: 1px solid #3d3d3d;
    }

    header {
        position: relative;
        padding-bottom: 5px;
    }

    .uniform-type {
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 2px;
    }

    .uniform-name {
        font-size: 1.2em;
    }

    label {
        width: 100%;
        position: relative;
        display: block;
        height: 20px;
    }

    .uniform-value {
        position: absolute;
        right: 0;
        width: 30px;
        bottom: 0;
        top: 8px;
        text-align: right;
    }

    .uniform-value-index {
        position: absolute;
        left: 0;
        width: 10px;
        top: 8px;
    }

    .error-unhandled-uniform-type {
        font-style: italic;
        opacity: 0.4;
    }

    input[type=range] {
        position: absolute;
        left: 15px;
        right: 30px;
        display: block;
    }
}

button {
    color: #ddd;
    background: #555;
    font-size: 0.8rem;
    padding: 1em 0;
    border: 0;
    margin: 0;

    & + button {
        border-left: 1px solid #444;
    }

    &.selected, &:hover, &:focus {
        background: #f0f0f0;
        cursor: pointer;
        color: #333;
    }
}
