
mixin js(src)
    script(src=src)


mixin js-lib(name)
    script(src='assets/js/libs/'+name+'.js')


mixin css(name)
    link(href='assets/css/'+name+'.css', rel='stylesheet')


mixin css-lib(name)
    link(href='assets/css/libs/'+name+'.css', rel='stylesheet')


mixin app-core(name)
    script(src='assets/js/app/'+name+'.js')
