
mixin app-directive(name)
    script(src='assets/js/app/directives/'+name+'-directive.js')

mixin app-controller(name)
    script(src='assets/js/app/controllers/'+name+'-controller.js')

mixin app-service(name)
    script(src='assets/js/app/services/'+name+'-service.js')
