
//- Based off the results of this study:
//- http://techblog.tilllate.com/2008/07/20/ten-methods-to-obfuscate-e-mail-addresses-compared/
mixin obfuscate-email(email)
    span(style="unicode-bidi:bidi-override; direction: rtl;")= email
