@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../src/styles/lib/_reset.scss */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-text-size-adjust: none;
}

/* line 18, ../../../src/styles/lib/_reset.scss */
a {
  text-decoration: none;
}

/* line 24, ../../../src/styles/lib/_reset.scss */
ul {
  line-height: 0;
  display: block;
  vertical-align: top;
}

/* line 30, ../../../src/styles/lib/_reset.scss */
li {
  list-style: none;
}

@media print {
  /* line 36, ../../../src/styles/lib/_reset.scss */
  * {
    color: black !important;
    background: transparent !important;
    text-shadow: none !important;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
}
@media not screen {
  /* line 3, ../../../src/styles/lib/_utils.scss */
  .screen-only {
    display: none;
  }
}
/* line 2, ../../../src/styles/_layout.scss */
html, body {
  min-height: 100%;
  width: 100%;
}

/* line 7, ../../../src/styles/_layout.scss */
html {
  margin: 0 auto;
}

/* line 11, ../../../src/styles/_layout.scss */
body {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}
/* line 17, ../../../src/styles/_layout.scss */
body > header {
  width: 100%;
}
/* line 21, ../../../src/styles/_layout.scss */
body section {
  margin: 20px 0;
}

/* line 23, ../../../src/styles/_theme.scss */
html {
  font-size: 10px;
}

/* line 27, ../../../src/styles/_theme.scss */
body {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f9fafb;
  color: #565a5c;
}

/* line 36, ../../../src/styles/_theme.scss */
a, a:after {
  border-bottom: 1px dotted #c7d4dd;
  color: #003c66;
}
/* line 40, ../../../src/styles/_theme.scss */
a:hover, a:after:hover {
  border-bottom: 1px dotted #95c5e8;
  color: #0077cc;
}

/* line 47, ../../../src/styles/_theme.scss */
header ul > li,
section ul > li {
  padding-left: 10px;
  text-indent: -13px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 53, ../../../src/styles/_theme.scss */
header ul > li:before,
section ul > li:before {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  content: 'â¯';
  color: #a7aaab;
  font-size: 9px;
  font-size: 0.9rem;
  padding-right: 6px;
  padding-left: 2px;
  position: relative;
  top: -1px;
}

/* line 65, ../../../src/styles/_theme.scss */
ul.list-unstyled > li {
  padding-left: 0;
  text-indent: 0;
}
/* line 69, ../../../src/styles/_theme.scss */
ul.list-unstyled > li:before {
  content: '';
  position: static;
}

/* line 75, ../../../src/styles/_theme.scss */
h1 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
}

/* line 80, ../../../src/styles/_theme.scss */
h2 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
}

/* line 85, ../../../src/styles/_theme.scss */
textarea {
  border: 1px solid #003c66;
  width: 100%;
  height: 300px;
  font-family: 'Menlo', monospace;
}

/* line 92, ../../../src/styles/_theme.scss */
img {
  width: 300px;
}

/* line 96, ../../../src/styles/_theme.scss */
.shader {
  overflow: hidden;
}
/* line 99, ../../../src/styles/_theme.scss */
.shader img {
  border: 1px solid orange;
}

/* line 106, ../../../src/styles/_theme.scss */
.loading img {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
