@import url(//fonts.googleapis.com/css?family=Lato:300,400,500,600,700);
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../src/styles/lib/_reset.scss */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-text-size-adjust: none;
}

/* line 18, ../../../src/styles/lib/_reset.scss */
a {
  text-decoration: none;
}

/* line 24, ../../../src/styles/lib/_reset.scss */
ul {
  line-height: 0;
  display: block;
  vertical-align: top;
}

/* line 30, ../../../src/styles/lib/_reset.scss */
li {
  list-style: none;
}

/* line 34, ../../../src/styles/lib/_reset.scss */
button {
  margin: 0;
}

@media print {
  /* line 40, ../../../src/styles/lib/_reset.scss */
  * {
    color: black !important;
    background: transparent !important;
    text-shadow: none !important;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
}
@media not screen {
  /* line 3, ../../../src/styles/lib/_utils.scss */
  .screen-only {
    display: none;
  }
}
/* line 2, ../../../src/styles/_layout.scss */
html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* line 11, ../../../src/styles/_layout.scss */
body > header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 38px;
}
/* line 18, ../../../src/styles/_layout.scss */
body > header button {
  height: 100%;
  width: 100px;
  line-height: 1.2;
  display: block;
  float: left;
  border: 0;
  margin: 0;
}

/* line 30, ../../../src/styles/_layout.scss */
#message-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 200px;
}
/* line 38, ../../../src/styles/_layout.scss */
#message-panel .message {
  padding: 1em 1.5em 2em 1.5em;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

/* line 47, ../../../src/styles/_layout.scss */
#uniform-controls {
  position: absolute;
  top: 50%;
  left: 70%;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

/* line 57, ../../../src/styles/_layout.scss */
#shader-output {
  position: absolute;
  left: 0;
  right: 30%;
  top: 50%;
  bottom: 0;
  padding: 1em;
  overflow: scroll;
}
/* line 66, ../../../src/styles/_layout.scss */
#shader-output h1 {
  margin-bottom: 10px;
}

/* line 72, ../../../src/styles/_layout.scss */
#shader-editor-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  top: 40px;
}

/* line 81, ../../../src/styles/_layout.scss */
#shader-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 88, ../../../src/styles/_layout.scss */
#shader-editor .ace-editor {
  height: 100%;
  width: 100%;
}

/* line 5, ../../../src/styles/_theme.scss */
html {
  font-size: 16px;
}

/* line 9, ../../../src/styles/_theme.scss */
body, button {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #333;
}

/* line 15, ../../../src/styles/_theme.scss */
.shader {
  overflow: hidden;
}
/* line 18, ../../../src/styles/_theme.scss */
.shader img {
  border: 1px solid orange;
  width: 100%;
}

/* line 24, ../../../src/styles/_theme.scss */
.loading img {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 29, ../../../src/styles/_theme.scss */
body > header {
  background: #555;
  border-bottom: 2px solid #444;
}

/* line 35, ../../../src/styles/_theme.scss */
#message-panel {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  text-align: center;
  z-index: 99;
}
/* line 41, ../../../src/styles/_theme.scss */
#message-panel .message {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  background: #999;
  line-height: 1.5;
}
/* line 47, ../../../src/styles/_theme.scss */
#message-panel .message h1 {
  font-size: 20px;
  margin-bottom: 0.8em;
}
/* line 52, ../../../src/styles/_theme.scss */
#message-panel .message p {
  font-size: 15px;
  margin: 0 auto;
  max-width: 95%;
}
/* line 58, ../../../src/styles/_theme.scss */
#message-panel .message em {
  font-weight: 600;
  color: #fff;
}

/* line 66, ../../../src/styles/_theme.scss */
#shader-editor-panel {
  border-bottom: 4px solid #ddd;
}

/* line 70, ../../../src/styles/_theme.scss */
#shader-editor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 11px;
}

/* line 75, ../../../src/styles/_theme.scss */
#shader-output {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background: #eee;
}

/* line 80, ../../../src/styles/_theme.scss */
#uniform-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background: #444;
  font-size: 0.7rem;
  color: #ddd;
  overflow-y: scroll;
}
/* line 88, ../../../src/styles/_theme.scss */
#uniform-controls .uniform-control {
  padding: 0.9rem 0.8rem;
  border-bottom: 1px solid #3d3d3d;
}
/* line 93, ../../../src/styles/_theme.scss */
#uniform-controls header {
  position: relative;
  padding-bottom: 5px;
}
/* line 98, ../../../src/styles/_theme.scss */
#uniform-controls .uniform-type {
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 2px;
}
/* line 105, ../../../src/styles/_theme.scss */
#uniform-controls .uniform-name {
  font-size: 1.2em;
}
/* line 109, ../../../src/styles/_theme.scss */
#uniform-controls label {
  width: 100%;
  position: relative;
  display: block;
  height: 20px;
}
/* line 116, ../../../src/styles/_theme.scss */
#uniform-controls .uniform-value {
  position: absolute;
  right: 0;
  width: 30px;
  bottom: 0;
  top: 8px;
  text-align: right;
}
/* line 125, ../../../src/styles/_theme.scss */
#uniform-controls .uniform-value-index {
  position: absolute;
  left: 0;
  width: 10px;
  top: 8px;
}
/* line 132, ../../../src/styles/_theme.scss */
#uniform-controls .error-unhandled-uniform-type {
  font-style: italic;
  opacity: 0.4;
}
/* line 137, ../../../src/styles/_theme.scss */
#uniform-controls input[type=range] {
  position: absolute;
  left: 15px;
  right: 30px;
  display: block;
}

/* line 145, ../../../src/styles/_theme.scss */
button {
  color: #ddd;
  background: #555;
  font-size: 0.8rem;
  padding: 1em 0;
  border: 0;
  margin: 0;
}
/* line 153, ../../../src/styles/_theme.scss */
button + button {
  border-left: 1px solid #444;
}
/* line 157, ../../../src/styles/_theme.scss */
button.selected, button:hover, button:focus {
  background: #f0f0f0;
  cursor: pointer;
  color: #333;
}
