
include mixins/asset-mixins
include mixins/asset-mixins-angular

include mixins/utils


!!!
html(lang='en', ng-app='CSSCustomFilterSandbox')

  head
    title surjikal | css custom filter sandbox

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")
      meta(name="author",      content="Nicolas Porter")
      meta(name="description", content="A CSS custom filter sandbox.")

    block css
      mixin css("default")

    block js-libs
      mixin js("http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js")
      mixin js-lib("angular")
      mixin js-lib("angular.ace")
      mixin js-lib("lodash")
      mixin js-lib("zepto")

    block app
      mixin app-core("app")
      mixin app-controller("main")
      mixin app-directive("shader")

    script
      // FIXME
      $(function() {
        //- var img = new Image();
        //- img.src = 'http://lorempixel.com/output/city-q-c-640-480-4.jpg';
        //- var shaderContainer = document.getElementById('shader-container');
        //- var shader          = shaderContainer.getElementsByClassName('shader')[0];
        //- shader.appendChild(img);

        // I have to something like this otherwise the image doesn't load properly
        setTimeout(function() {
          $('.loading').removeClass('loading');
        }, 1000);
      })


  body.loading(ng-controller="MainController")

    header
      button#edit-vertex-shader-button(type="button", ng-click="showVertexEditor()", ng-class="{selected:vertexSelected}")
        | Vertex
      button#edit-fragment-shader-button(type="button", ng-click="showFragmentEditor()", ng-class="{selected:fragmentSelected}")
        | Fragment


    #message-panel(ng-show="!customFiltersSupported")
      .message
        h1 Your browser does not support custom css filters!
        p
          | Custom Filters are available in both <em>Chrome</em> and <em>Canary</em>.
        p
          | To enable them, head over to <em>about:flags</em> and search for <em>CSS Shaders</em>.
        p
          | Don't forget to restart your browser!

    #shader-editor-panel
      #shader-editor(ng-model="shaderModel", ace="glsl", scope-instance="editor")


    #shader-output
      shader(shader-vertex="vertexShader", shader-fragment="fragmentShader", shader-params="uniformControls", shader-vertex-mesh="16 32")
        h1 Custom CSS Filter!
        img(src="https://secure.gravatar.com/avatar/b092966bd7de2d66f29077992ea85170?s=300")


    #uniform-controls

      mixin vector-uniform-control()
        ul: li(ng-repeat="index in valueRange")
          label
            .uniform-value-index {{ index }}
            input(type="range", ng-model="uniform.value[index]", min="0.0", max="1.0", step="0.01")
            .uniform-value {{ uniform.value[index] | number:2 }}


      .uniform-control(ng-repeat="uniform in uniforms", ng-switch="uniform.type")
          header
            .uniform-type {{ uniform.type }}
            .uniform-name {{ uniform.name }}

          .vector-uniform-control(uniform="uniform", ng-switch-when="vec2")
            mixin vector-uniform-control()

          .vector-uniform-control(uniform="uniform", ng-switch-when="vec3")
            mixin vector-uniform-control()

          .vector-uniform-control(uniform="uniform", ng-switch-when="vec4")
            mixin vector-uniform-control()

          .matrix-uniform-control(ng-switch-when="mat4")

          .float-uniform-control(uniform="uniform", ng-switch-when="float")
              label
                input(type="range", ng-model="uniform.value", min="0.0", max="1.0", step="0.01")
                .uniform-value {{ uniform.value | number:2 }}

          .error-unhandled-uniform-type(ng-switch-default)
            | unhandled uniform type <span class="unhandled-uniform-type">{{ uniform.type }}</span> :(
