
include mixins/asset-mixins
include mixins/asset-mixins-angular

include mixins/utils


!!!
html(lang='en', ng-app='CSSCustomFilterSandbox')

  head
    title surjikal | css custom filter sandbox

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")
      meta(name="author",      content="Nicolas Porter")
      meta(name="description", content="A CSS custom filter sandbox.")

    block css
      mixin css("default")

    block js-libs
      mixin js-lib("angular")
      mixin js-lib("lodash")
      mixin js-lib("zepto")
      mixin js-lib("dat.gui")

    block app
      mixin app-core("app")
      mixin app-controller("main")
      mixin app-directive("shader")

    script
      // FIXME
      $(function() {
        //- var img = new Image();
        //- img.src = 'http://lorempixel.com/output/city-q-c-640-480-4.jpg';
        //- var shaderContainer = document.getElementById('shader-container');
        //- var shader          = shaderContainer.getElementsByClassName('shader')[0];
        //- shader.appendChild(img);

        // I have to something like this otherwise the image doesn't load properly
        setTimeout(function() {
          $('.loading').removeClass('loading');
        }, 1000);
      })


  body.loading(ng-controller="MainController")

    section#shader-container
      shader(shader-fragment="fragmentShader", shader-params="uniformControls")
        h1 Custom CSS Filter!
        img(src="http://lorempixel.com/output/city-q-c-640-480-4.jpg")

    br
    br

    .shader-controls


      br
      br

      mixin uniform-vec3(index)
        label
          | [#{index}]:
          input(type="range", ng-model="uniform.value[#{index}]", min="0.0", max="1.0", step="0.01")
          | {{ uniform.value[#{index}] }}

      .uniform(ng-repeat="uniform in uniforms")
        | uniform[{{ uniform.type }}]: {{ uniform.name }}
        .uniform-type(ng-switch="uniform.type")
          .uniform-vec3(ng-switch-when="vec3")
            mixin uniform-vec3(0)
            br
            mixin uniform-vec3(1)
            br
            mixin uniform-vec3(2)
          .uniform-vec3(ng-switch-when="float")
            label
              input(type="range", ng-model="uniform.value", min="0.0", max="1.0", step="0.01")
              | {{ uniform.value }}
        br

      h3 Fragment Shader
      textarea.fragment-shader(ng-model="fragmentShader")
